<div class="highcharts-wrapper"
  {{did-insert this.onDidInsert}}
  {{did-update this.onDidUpdate @content @chartOptions this.theme this.mode}}
  ...attributes
>
  <div class="chart-container"></div>
  {{yield this.chart}}
</div>