<div class="highcharts-wrapper"
  {{did-insert this.onDidInsert}}
  {{did-update
    this.onDidUpdate
    content=this.content
    chartOptions=this.chartOptions
    mode=this.mode
  }}
  ...attributes
>
  <div class="chart-container"></div>
  {{yield this.chart}}
</div>