<div class="container-fluid">

  <h2 id="title">Ember Highcharts</h2>

  <section>
    <h3>Basic line chart</h3>
    {{chart-basic-line}}
  </section>

  <section>
    <h3>Basic bar chart with custom theme</h3>
    {{chart-basic-bar}}
  </section>

  <section>
    <h3>Highstock single line series</h3>
    {{chart-highstock}}
  </section>

  <section>
    <h3>Interactive line chart</h3>
    {{chart-interactive}}
  </section>

</div>
