<h2 id="title">Welcome to Ember.js</h2>

{{high-charts content=chartData chartOptions=chartOptions theme=theme}}
{{high-charts mode='StockChart' content=stockChartData chartOptions=stockChartOptions}}
