<h1 id="title">Ember Highcharts</h1>

<section>
  <h3>Basic line chart</h3>
  <ChartLineBasic />
</section>

<section>
  <h3>Basic bar chart with custom theme</h3>
  <ChartBarBasic />
</section>

<section>
  <h3>Basic highmaps chart</h3>
  <ChartMapBasic />
</section>

<section>
  <h3>Solid gauge chart</h3>
  <ChartSolidGauge />
</section>

<section>
  <h3>Sales funnel chart</h3>
  <ChartFunnel />
</section>

<section>
  <h3>Heatmap chart</h3>
  <ChartHeatMap />
</section>

<section>
  <h3>Waterfall chart</h3>
  <ChartWaterfall />
</section>

<section>
  <h3>Column chart with drilldown</h3>
  <ChartColumnDrilldown />
</section>

<section>
  <h3>Interactive highstock chart</h3>
  <ChartHighstockInteractive />
</section>

<section>
  <h3>Interactive line chart</h3>
  <ChartLineInteractive />
</section>

<section>
  <h3>Scatter chart</h3>
  <ChartScatter />
</section>
